{% extends 'main/base.html' %}

{% block title %}About{% endblock %}


{% block name %}About{% endblock %}


{% block content %}
    <main>
		<section class="left">
			<h2>About Me</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend eros vitae ex bibendum, eu lobortis odio faucibus. Integer suscipit ligula id diam elementum, in malesuada risus lobortis.</p>
			<p>Phasellus a consectetur dolor. Proin interdum laoreet risus, sit amet accumsan risus bibendum ut. Nulla ut malesuada nisl, vel interdum ipsum. Curabitur in elit in elit suscipit aliquam.</p>
		</section>
	</main>
{% endblock %}